{% load bootstrap3 static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpShop!</title>

{% bootstrap_css %}

</head>
<body>
<div class="col-xs-6" style="margin: 0 auto 0 auto; float: none; text-align: center;">
{% bootstrap_messages jquery=1 %}
</div>
{% block top %}
{% endblock %}
<h1 style="text-align: center; margin-top: 50px;">Welcome to the op-shop!</h1>
<div class="col-xs-6" style="margin: 0 auto 0 auto; float: none;">
{% block content %}
{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% bootstrap_javascript %}
<script>
$(".alert-dismissable").fadeTo(10000, 500).slideUp(500, function(){
    $(".alert-dismissable").alert('close');
});
{% if sale %}
    var snd = new Audio("{% static "cash-register.wav" %}");
    snd.play();
{% endif %}
{% block js %}
{% endblock %}

</script>
</body>
</html>