{% extends "base.html" %}
{% load bootstrap3 %}

{% block top %}
    <button id="scan" class="scan btn btn-gray"
            style="position: absolute; top: 0; right: 0; display: none; text-align: center">Scan
    </button>
{% endblock %}

{% block content %}
    <p style="text-align: center">Select an item below using the dropdown, or <a href="#" data-toggle="modal" data-target="#livestream_scanner">scan it</a>
    </p>
    <p style="text-align: center">Don't have an account yet ? <a href="#" data-toggle="modal" data-target="#create_account">Create account</a>
    </p>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_field form.item %}
        <div class="col-xs-12" style="text-align: center">
        <button class="btn btn-default btn-lg" type="button" data-toggle="modal" data-target="#livestream_scanner">
		    <i class="glyphicon glyphicon-barcode"></i>
		</button>
        </div>
        {% bootstrap_field form.user %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" style="margin-top: 50px; width: 100%;">
                {% bootstrap_icon "shopping-cart" %} Checkout
            </button>
        {% endbuttons %}
    </form>
    <button style="margin-top: 75px" type="submit" class="btn btn-success pull-right" data-toggle="modal" data-target="#top_up"><i class="glyphicon glyphicon-eur"></i> Top up my account</button>
<div class="modal" id="livestream_scanner">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Barcode Scanner</h4>
			</div>
			<div class="modal-body" style="position: static">
				<div id="interactive" class="viewport"></div>
				<div class="error"></div>
			</div>
			<div class="modal-footer">
				<label class="btn btn-default pull-left">
					<i class="fa fa-camera"></i> Use camera app
					<input type="file" accept="image/*;capture=camera" capture="camera" class="hidden" />
				</label>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal" id="top_up">
	<div class="modal-dialog">
		<form method="post" action="{% url "top-up" %}">
            {% csrf_token %}
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Top up your account</h4>
			</div>
			<div class="modal-body" style="position: static">
                {% bootstrap_field top_up_form.user %}
                {% bootstrap_field top_up_form.amount %}
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Add to my account</button>
			</div>
		</div><!-- /.modal-content -->
        </form>
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal" id="create_account">
	<div class="modal-dialog">
		<form method="post" action="{% url "create-account" %}">
            {% csrf_token %}
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Create your account</h4>
			</div>
			<div class="modal-body" style="position: static">
                {% bootstrap_field account_form.user %}
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Create my account</button>
			</div>
		</div><!-- /.modal-content -->
        </form>
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}

{% block js %}
    var ean_to_id = {
    {% for i in items %}
        {{ i.ean }}: {{ i.pk }},
    {% endfor %}
    };
{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="assets/js/libs/quagga.min.js"></script>
<style>
	#interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
	#interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
	canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}
</style>
<script type="text/javascript">
$(function() {
	// Create the QuaggaJS config object for the live stream
	var liveStreamConfig = {
			inputStream: {
				type : "LiveStream",
				constraints: {
					width: {min: 640},
					height: {min: 480},
					aspectRatio: {min: 1, max: 100},
					facingMode: "environment" // or "user" for the front camera
				}
			},
			locator: {
				patchSize: "medium",
				halfSample: true
			},
			numOfWorkers: (navigator.hardwareConcurrency ? navigator.hardwareConcurrency : 4),
			decoder: {
				"readers":[
					{"format":"ean_reader","config":{}}
				]
			},
			locate: true
		};
	// The fallback to the file API requires a different inputStream option.
	// The rest is the same
	var fileConfig = $.extend(
			{},
			liveStreamConfig,
			{
				inputStream: {
					size: 800
				}
			}
		);
	// Start the live stream scanner when the modal opens
	$('#livestream_scanner').on('shown.bs.modal', function (e) {
		Quagga.init(
			liveStreamConfig,
			function(err) {
				if (err) {
					$('#livestream_scanner .modal-body .error').html('<div class="alert alert-danger"><strong><i class="fa fa-exclamation-triangle"></i> '+err.name+'</strong>: '+err.message+'</div>');
					Quagga.stop();
					return;
				}
				Quagga.start();
			}
		);
    });

	// Make sure, QuaggaJS draws frames an lines around possible
	// barcodes on the live stream
	Quagga.onProcessed(function(result) {
		var drawingCtx = Quagga.canvas.ctx.overlay,
			drawingCanvas = Quagga.canvas.dom.overlay;

		if (result) {
			if (result.boxes) {
				drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
				result.boxes.filter(function (box) {
					return box !== result.box;
				}).forEach(function (box) {
					Quagga.ImageDebug.drawPath(box, {x: 0, y: 1}, drawingCtx, {color: "green", lineWidth: 2});
				});
			}

			if (result.box) {
				Quagga.ImageDebug.drawPath(result.box, {x: 0, y: 1}, drawingCtx, {color: "#00F", lineWidth: 2});
			}

			if (result.codeResult && result.codeResult.code) {
				Quagga.ImageDebug.drawPath(result.line, {x: 'x', y: 'y'}, drawingCtx, {color: 'red', lineWidth: 3});
			}
		}
	});

	// Once a barcode had been read successfully, stop quagga and
	// close the modal after a second to let the user notice where
	// the barcode had actually been found.
	Quagga.onDetected(function(result) {
		if (result.codeResult.code){
			$('#id_item').val(result.codeResult.code);
			console.log(result.codeResult.code)
			Quagga.stop();
			setTimeout(function(){ $('#livestream_scanner').modal('hide'); }, 1000);
		}
	});

	// Stop quagga in any case, when the modal is closed
    $('#livestream_scanner').on('hide.bs.modal', function(){
    	if (Quagga){
    		Quagga.stop();
    	}
    });

	// Call Quagga.decodeSingle() for every file selected in the
	// file input
	$("#livestream_scanner input:file").on("change", function(e) {
		if (e.target.files && e.target.files.length) {
			Quagga.decodeSingle($.extend({}, fileConfig, {src: URL.createObjectURL(e.target.files[0])}), function(result) {alert(result.codeResult.code);});
		}
	});
});
</script>
{% endblock %}